body{
    background-color: #0c023e;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    border: 2px solid #00306f;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    box-shadow: 10px 8px 16px rgba(212, 9, 9, 0.2);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}
.profile:hover {
    box-shadow: 10px 10px 5px rgb(24, 61, 185);
}

.profile img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
}
.profile .info {
    flex: 1;
    padding-left: 20px;
}
h1 {
    font-size: 60px;
    color: azure;
}
